/* src/components/style.css */
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
  gap: 16px; /* Espacio entre las tarjetas */
  padding: 20px; /* Espaciado interno del contenedor */
}

.card {
  position: relative;
  width: 80%; /* Asegúrate de que las tarjetas ocupen todo el ancho de la columna */
  height: 381px; /* Mantén la altura de tus tarjetas */
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  border: 11px solid;
  border-color: var(--defaultgray-600);
}
